*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 223, 192);
    justify-content: center;
    align-items: center;
}
main{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    background-color: rgb(255, 180, 180);
}
main a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
main img{
    width: 100%;

}
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  #informacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
button{
    cursor: pointer;
}
h3{
    font-family: "Young Serif", serif;
    font-style: normal;
    font-size: 200%;
    font-weight: 300;
}
p,b{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #33211D;
    line-height: 1.2;
    max-width: 800px;
    margin: 0 auto 40px auto;
    text-align: center;
}
footer {
    background-color: #DA9F5B;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.footer-section {
    max-width: 300px;
    margin: 10px;
}

.footer-section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-section p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.social-icons a {
    margin-right: 15px;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4A4A4A;
}

footer i {
    margin-right: 8px;
}
@media(max-width: 500px){
    main{
        width: 90%;
    }
}
@media(max-width: 1000px){
    main{
        grid-template-columns: 1fr;
    }
}